doctype html
html(lang='en')
    head
        title Random Dad Joke
    body
        h1
            u Random Dad Joke!
        br
        h3=joke
        br
        br
        marquee Created by Akash Mishra (cs19m008) for his Cloud Computing Assignment #1 at IIT Madras.